@import "tailwindcss";

::-webkit-scrollbar {
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #2a2a2a;
}

::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 4px;
}

.scroll-animate {
  animation: infiniteScroll 10s linear infinite;
}

@keyframes infiniteScroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
